<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project.student.mentor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_login_Ser</display-name>
    <servlet-name>Admin_login_Ser</servlet-name>
    <servlet-class>sm.servlet.Admin_login_Ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_login_Ser</servlet-name>
    <url-pattern>/Admin_login_Ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stud_Login_ser</display-name>
    <servlet-name>stud_Login_ser</servlet-name>
    <servlet-class>sm.servlet.stud_Login_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stud_Login_ser</servlet-name>
    <url-pattern>/stud_Login_ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stud_reg_ser</display-name>
    <servlet-name>stud_reg_ser</servlet-name>
    <servlet-class>sm.servlet.stud_reg_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stud_reg_ser</servlet-name>
    <url-pattern>/stud_reg_ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Men_Login_ser</display-name>
    <servlet-name>Men_Login_ser</servlet-name>
    <servlet-class>sm.servlet.Men_Login_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Men_Login_ser</servlet-name>
    <url-pattern>/Men_Login_ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Men_reg_ser</display-name>
    <servlet-name>Men_reg_ser</servlet-name>
    <servlet-class>sm.servlet.Men_reg_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Men_reg_ser</servlet-name>
    <url-pattern>/Men_reg_ser</url-pattern>
  </servlet-mapping>
</web-app>